<launch>
<node pkg="first_project" type = "gps_to_odom" name = "gps_to_odom" output="screen"/>
<node pkg="rviz" type="rviz" name="rviz" />

<param name="lat_r" value="45.477669461666665" type="double" />
<param name="lon_r" value="9.22674018" type="double"/>
<param name="alt_r" value="169.039" type="double" />


<node pkg="first_project" type = "odom_to_tf" name = "odom_of_encoders" output="screen"/>
    <param name="input_odom" value="/odom" />
    <param name="root_frame" value="world" />
    <param name="child_frame" value="wheel_odom" />
</node>

<node pkg="first_project" type = "odom_to_tf" name = "odom_of_gps" output="screen"/>
    <param name="input_odom" value="/gps_odom" />
    <param name="root_frame" value="world" />
    <param name="child_frame" value="gps_odom" />
</node>


<!--
<node pkg="first_project" type = "lidar_visualization" name = "lidar_visualization" output="screen"/>
-->
</launch>
