<launch>
<node pkg="rviz" type="rviz" name="rviz" />

<node pkg="first_project" type = "gps_to_odom" name = "gps_to_odom" output="screen">
    <param name="lat_r" value="45.477669461666665" type="double" />
    <param name="lon_r" value="9.22674018" type="double"/>
    <param name="alt_r" value="169.039" type="double" />
</node>

<node pkg="first_project" type = "odom_to_tf" name = "odom_of_encoders" output="screen">
    <remap from="/input_odom" to="/odom"  />
    <param name="root_frame" type="str" value="world" />
    <param name="child_frame" type="str" value="wheel_odom" />
</node>

<node pkg="first_project" type = "odom_to_tf" name = "odom_of_gps" output="screen">
    <remap from="/input_odom" to="/gps_odom" />
    <param name="root_frame" type="str" value="world" />
    <param name="child_frame" type="str" value="gps_odom" />
</node>

<node pkg="first_project" type = "lidar_remap" name = "lidar_remap" output="screen"/>
</launch>
